@model List<Geolygon.Models.ViewModels.PropTableViewModel>
@{
    ViewBag.Title = "Propiedades";
}

<h2>@ViewBag.Title &nbsp;<span class="badge bg-secondary"> Lista Propiedades</span></h2>



<div class="row">
    <div class="col-md-12">
        <table class="table">

            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Dirección</th>
            </tr>

            @foreach (var oElemento in Model )
            {

                <tr>
                    <td>@oElemento.Id</td>
                    <td>@oElemento.Name</td>
                    <td>@oElemento.Address</td>
                    <td><button class="btn btn-warning">Editar</button> <button class="btn btn-danger">Elimina</button></td>
                </tr>
            }


        </table>
    </div>
</div>
